.middle {
    margin: 0 auto;
    display: block
}

.py-2 {
    margin-bottom: 10px;
}

.msg-param {
    margin-top: 10px;

}

.msg-param-type{
    width: 100px;
}

.alert{
    margin-top: 20px;
    margin-bottom: 15px;
    width: 300px;
}
.title{
    margin-bottom: 30px;
    background-color: #c1e16c;
}

.list-btn{
    width: 70%;
    margin-top: 10px;
}


.list-btn-div{

}

.list-btn:hover, .selectbtn{
    background-color: #377eea;
    color: #ffffff;
}
